**Proyecto Final: Unidad 1**

**Entidad: hijo**

In [ ]:
#Faker es un paquete de Python que genera datos falsos.
!pip install Faker

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: Faker in /usr/local/lib/python3.8/dist-packages (15.3.4)
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.8/dist-packages (from Faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.4->Faker) (1.15.0)

In [ ]:
#Librerías necesarias para la generación de datos.
import pandas as pd
import uuid
import random
from faker import Faker
import datetime

#Librerías necesarias para el detalle o la descripción.
import string
import random
from random import seed
from datetime import datetime

In [ ]:
#Variable asignada para el tamaño del conjunto de datos. 
num_iess = 10000


     - id_afiliacion:una cadena de números para identificar en este caso un tipo de afilicion
     - nombre_afiliacion: tipo de datos de cadena para identificar la afiliacion
     - tipo_afiliacion:tipo de cadena para saber el tipo de afiliacion
     - estado_afiliacion: tipo de cadena para saber el estado de una afiliacion
     - ci_persona: una cadena de números para identificar a una persona ene ste caso de nacionalidad ecuatoriana

Se ingresan los atributos como una lista para inicializar un marco de datos de Pandas:

In [ ]:
#Lista con los atributos
features = [
    "id_afiliacion",
    "nombre_afiliacion",
    "tipo_afiliacion",
    "estado_afiliacion",
    "ci_persona",
]#Creamos un dataframe para estos atributos
df = pd.DataFrame(columns=features)

**id_afiliacion**

In [ ]:
#Biblioteca uuid para generar cadena aleatoria de datos para id_perfil.
df['id_afiliacion'] = [uuid.uuid4().hex for i in range(num_iess)]

In [ ]:
#Genera identificaciones únicas para cada usuario. Si todas las ID en el conjunto de datos son únicas, devuelve True.
print(df['id_afiliacion'].nunique()==num_iess)

True


**nombre_afiliacion**

In [ ]:
#Los diferentes nombres de roles.
nombre_afiliacion = ['Voluntario','Asegurado']
#Creacion de los permisos para cada una de las filas
df['nombre_afiliacion'] = random.choices(
  nombre_afiliacion, 
    weights=(40,10), 
    k=num_iess
)

**tipo_afiliacion**

In [ ]:
#Los diferentes nombres de roles.
tipo_afiliacion = ['Pensionista','Afiliado']
#Creacion de los permisos para cada una de las filas
df['tipo_afiliacion'] = random.choices(
  tipo_afiliacion, 
    weights=(40,10), 
    k=num_iess
)

**estado_afiliacion**

In [ ]:
#Los diferentes nombres de roles.
estado_afiliacion = ['Activo','Inactivo']
#Creacion de los permisos para cada una de las filas
df['estado_afiliacion'] = random.choices(
  estado_afiliacion, 
    weights=(40,10), 
    k=num_iess
)

**ci_persona**

In [ ]:
#Variable para los géneros para la creación de los nombres.
genero = ["female", "male"]

In [ ]:
#Nombres.
df['genero']= random.choices(
    genero, 
    weights=(30,30), 
    k=num_iess)

In [ ]:
cedula=[]
#Cantidad de números para la cadena..
size = 10
for i in range(0, num_iess):
  random.seed(datetime.now())
  #Números opcionales para formar la cadena.
  valores = [0,1,2,3,4,5,6,7,8,9]
  cedula=(''.join([str(random.choice(valores)) for i in range(size)]))
  #Se guarda los números en telefonocallcenter.
  df.ci_persona[i]=cedula

In [ ]:
#Eliminar genero, no es necesaerio para esta entidad.
del(df['genero'])

In [ ]:
#Visualizar en la tabla los datos generados antes de descargar el excel.
df.head(5)

,id_afiliacion,nombre_afiliacion,tipo_afiliacion,estado_afiliacion,ci_persona
0,12d73b6cd94447abac7cfc96c11a5b7b,Voluntario,Pensionista,Activo,8482188900
1,ee6eebd65ff74e138e430479a303f8a8,Voluntario,Pensionista,Inactivo,3676868572
2,d447745a710c4eb1b00d176099cbb70a,Voluntario,Pensionista,Activo,8708096434
3,94422e92e8db4ada9cfd67a711ae36d4,Voluntario,Pensionista,Activo,5100821013
4,a7c75c6a1df4454297ddc0386f95f3da,Voluntario,Pensionista,Activo,6264497306

In [ ]:
#Generar excel de los datos.
df.to_csv('afiliacion.csv')