**Proyecto Final: Unidad 1**

**Entidad: hijo**

In [ ]:
#Faker es un paquete de Python que genera datos falsos.
!pip install Faker

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: Faker in /usr/local/lib/python3.8/dist-packages (15.3.4)
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.8/dist-packages (from Faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.4->Faker) (1.15.0)

DATOS SINTETICOS DE LA ENTIDAD PROVEE

Antes de iniciar cualquier codificacion se comenzara cargando las bibliiotecas con las cuales se crearan los datos

In [ ]:
#Librerías necesarias para lageneracion de datos
import pandas as pd
import uuid
import random
from faker import Faker
import datetime

#Librerías para generar cadena de números
import string
import random as r
from random import seed
from datetime import datetime

In [ ]:
#Variable asignada para el tamaño del conjunto de datos
num_iess = 10000

     - id_aportacion: una cadena única de caracteres para identificar la aportacion
     - fecha_aportacion: formato de cadena de año-mes-día
     - no_aportacion: numero aleatorio de la cantidad de aportaciones realizadas por la persona
     - detalle_aportacion: descripcion de el fin que tiene la aportacion
     - monto_aportacion: cantidad de dinero aportado al IESS
     - ci_persona: una cadena de números para identificar a una persona ene ste caso de nacionalidad ecuatoriana

In [ ]:
#Lista con los atributos
features = [
    "id_aportacion",
    "fecha_aportacion",
    "no_aportacion",
    "detalle_aportacion",
    "monto_aportacion",
    "ci_persona",
]#Creamos un dataframe para estos atributos
df = pd.DataFrame(columns=features)

**id_aportacion**

In [ ]:
df['id_aportacion'] = [uuid.uuid4().hex for i in range(num_iess)]

Se usa la biblioteca uuid para generar una cadena aleatoria asignada a el atributo id_aportacion

UUID es utilizada para generar identificaciones únicas para cada empresa, para asegurarnos que de que los ids de las empresas no se repitan y eso probara con el comando a continuación

In [ ]:
print(df['id_aportacion'].nunique()==num_iess)

True

In [ ]:
#Variable para los géneros para la creación de los nombres.
genero = ["female", "male"]

In [ ]:
#Nombres.
df['genero']= random.choices(
    genero, 
    weights=(30,30), 
    k=num_iess)

**fecha_aportacion**

In [ ]:
def fecha_aportacion(start, end, n):
    #Formato de marca de tiempo (año, mes, dia)
    frmt = "%Y-%m-%d"

    #Formateo de los dos períodos de tiempo.
    stime = datetime.strptime(start, frmt)
    etime = datetime.strptime(end, frmt)
    
    #Se crea el grupo para tiempos aleatorios.
    td = etime - stime
    
    #Se genera una lista con los tiempos aleatorios.
    times = [(random.random() * td + stime).strftime(frmt) for _ in range(n)]
    return times
df['fecha_aportacion'] = fecha_aportacion("2020-01-01", "2022-12-02", num_iess)

**no_aportacion**

In [ ]:
aportacion=[]
#Cantidad de números para la cadena..
size = 2
for i in range(0, num_iess):
  random.seed(datetime.now())
  #Números opcionales para formar la cadena.
  valores = [1,2,3,4,5,6,7,8,9,0]
  aportacion=(''.join([str(random.choice(valores)) for i in range(size)]))
  #Se guarda los números en telefonocallcenter.
  df.no_aportacion[i]=aportacion

**monto_aportacion**

In [ ]:
aportacion=[]
#Cantidad de números para la cadena..
size = 3
for i in range(0, num_iess):
  random.seed(datetime.now())
  #Números opcionales para formar la cadena.
  valores = [1,2,3,4,5,6,7,8,9,0]
  aportacion=(''.join([str(random.choice(valores)) for i in range(size)]))
  #Se guarda los números en telefonocallcenter.
  df.monto_aportacion[i]=aportacion

**detalle_aportacion**

In [ ]:
#Variale tipo string junto con su longitud de cadena de caracteres.
bio=[]
length_of_string = 25
#Crea el detalle del rol.
for i in range(0, num_iess):
  random.seed(datetime.now())
  #La descripcion tiene todo tipo de caracteres.
  bio=(''.join(random.SystemRandom().choice(string.ascii_letters + string.digits) for i in range(length_of_string)))
  #Se guarda el detalle dle rol.
  df.detalle_aportacion[i] =bio

**ci_persona**

In [ ]:
cedula=[]
#Cantidad de números para la cadena..
size = 10
for i in range(0, num_iess):
  random.seed(datetime.now())
  #Números opcionales para formar la cadena.
  valores = [0,1,2,3,4,5,6,7,8,9]
  cedula=(''.join([str(random.choice(valores)) for i in range(size)]))
  #Se guarda los números en telefonocallcenter.
  df.ci_persona[i]=cedula

In [ ]:
#Eliminar genero, no es necesaerio para esta entidad.
del(df['genero'])

In [ ]:
#Visualizar en la tabla los datos generados antes de descargar el excel.
df.head(5)

,id_aportacion,fecha_aportacion,no_aportacion,detalle_aportacion,monto_aportacion,ci_persona
0,7de7130897bd4a779995f09b0390d67d,2021-02-06,20,WakCWjwFtKnMDIdTrzC2heGVD,490,9583889921
1,2da7d8d3664343a7b66079e63e0d5438,2021-03-28,71,d7S2yItsF51UOwRSOXCifsLMJ,713,5063208418
2,c6df8f27e81a40a8bed10b8391cab2db,2021-07-18,72,uI6DrNXrEJsajbypUbRZlkmuX,634,3322348282
3,16e50e1f8d51438197b5837f91119f00,2021-05-02,41,EMlmDihbsvSTxWWYEMjslDgWA,017,4176892598
4,d65f0ba7134e4473ae683777b96aa304,2022-03-16,02,wrJpbpJpaj7Bs3u83i0whv3LG,244,0634047397

In [ ]:
#Generar excel de los datos.
df.to_csv('Aportacion.csv')