**Proyecto Final: Unidad 1**

**Entidad: Codigo**

In [49]:
#Faker es un paquete de Python que genera datos falsos.
!pip install Faker

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: Faker in /usr/local/lib/python3.8/dist-packages (15.3.4)
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.8/dist-packages (from Faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.4->Faker) (1.15.0)

In [50]:
#Librerías necesarias para la generación de datos.
import pandas as pd
import uuid
import random
from faker import Faker
import datetime

#Librerías para generar cadena de numeros
import random as r
from random import seed

#Librerías para generar fechas
import string
from random import randint
from datetime import datetime

In [51]:
#Variable asignada para el tamaño del conjunto de datos. 
num_iess = 10000


     - id_codigo: una cadena de números para identificar en este caso un codigo
     - nombre_codigo:tipo de cadena con un nombre de un codigo
     - artículo: cadena de números para representar números
     - estado_codigo: tipo de cadena que describe estado de actividad o no actividad
     - detalle_codigo:una cadena de caracteres para simular información

Se ingresan los atributos como una lista para inicializar un marco de datos de Pandas:

In [52]:
#Lista de 5 características (Atributos)
features = [
    "id_codigo",
    "nombre_codigo",
    "articulo",
    "estado_codigo",
    "detalle_codigo",
    "id_base_legal",
]# Creando un DF para estas características
df = pd.DataFrame(columns=features)

**id_codigo**

In [53]:
#Biblioteca uuid para generar cadena aleatoria de datos para id_perfil.
df['id_codigo'] = [uuid.uuid4().hex for i in range(num_iess)]

In [54]:
#Genera identificaciones únicas para cada usuario. Si todas las ID en el conjunto de datos son únicas, devuelve True.
print(df['id_codigo'].nunique()==num_iess)

True

**nombre_codigo**

In [55]:
#Los diferentes nombres de codigos.
nombre_codigo= ['Código del Trabajo','Código Cívil','Código Orgánico Integral','Código de Comercio']
#Creacion de los permisos para cada una de las filas
df['nombre_codigo'] = random.choices(
  nombre_codigo, 
    weights=(40,10,10,5), 
    k=num_iess
)

**articulo**

In [56]:
articulos=[]
#Cantidad de números para la cadena..
size = 2
for i in range(0, num_iess):
  random.seed(datetime.now())
  #Números opcionales para formar la cadena.
  valores = [0,1,2,3,4,5,6,7,8,9]
  articulos=(''.join([str(random.choice(valores)) for i in range(size)]))
  #Se guarda los números 
  df.articulo[i]=articulos

**estado_codigo**

In [57]:
#Los diferentes nombres de servicios.
estado_codigo= ['Activo','Inactivo']
#Creacion de los permisos para cada una de las filas
df['estado_codigo'] = random.choices(
  estado_codigo, 
    weights=(40,10), 
    k=num_iess
)

**detalle_codigo**

In [58]:
#Creamos la variale para la descripción de tipo string junto con su longitud de 
#cadena de caracteres
bio=[]
length_of_string = 20

for i in range(0, num_iess):#Creamos la descripcion de la universidad
  random.seed(datetime.now())
  #La descripcion contendra todo tipo de caracteres.
  bio=(''.join(random.SystemRandom().choice(string.ascii_letters + string.digits) for i in range(length_of_string)))
  #Guardamos la descripcion en el atributo DescripcionUn
  df.detalle_codigo[i] =bio

**id_base_legal**

In [59]:
#Biblioteca uuid para generar cadena aleatoria de datos para id_perfil.
df['id_base_legal'] = [uuid.uuid4().hex for i in range(num_iess)]

In [60]:
#Genera identificaciones únicas para cada usuario. Si todas las ID en el conjunto de datos son únicas, devuelve True.
print(df['id_base_legal'].nunique()==num_iess)

True

In [61]:
#Visualizar en la tabla los datos generados antes de descargar el excel.
df.head(5)

,id_codigo,nombre_codigo,articulo,estado_codigo,detalle_codigo,id_base_legal
0,681ae76c38ed4ebb9c038e8ebea1a976,Código Orgánico Integral,59,Activo,le7Yp280W8bY64PbNjL8,ca12d1b1bcfa41d785a0c6f39b752f73
1,b1c1d8c3d01f4c6384b587e82e3679d2,Código del Trabajo,11,Activo,cd68Eh6Y5j1xoRooFXv6,12b098b5716541e4aeaeaf169a931cd8
2,c1e8a7e1df454c51b1f4311494a09d1f,Código del Trabajo,53,Inactivo,uXKbnN0HcVWdIysb1v4H,9de69d35c76a4b17b810c2731e2b2e5d
3,616c4391454d4b72a64f26ad4dcc3d64,Código Cívil,46,Activo,VioMfN9KofaXnrrnlxXH,8d25c465ce244e9aa071c519723a7070
4,f268e774f5b44b408458d0253fb85733,Código Orgánico Integral,52,Activo,DkSRQg9rBI4wDTIGhBtd,de0d62b2e43d41559e78991186f07842

In [62]:
#Generar excel de los datos.
df.to_csv('Codigo.csv')