**Proyecto Final: Unidad 1**

**Entidad: empresa**

In [1]:
#Faker es un paquete de Python que genera datos falsos.
!pip install Faker

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting Faker
  Downloading Faker-15.3.4-py3-none-any.whl (1.6 MB)
     |████████████████████████████████| 1.6 MB 5.0 MB/s
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.8/dist-packages (from Faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.4->Faker) (1.15.0)
Installing collected packages: Faker
Successfully installed Faker-15.3.4

In [2]:
#Librerías necesarias para la generación de datos.
import pandas as pd
import uuid
import random
from faker import Faker
import datetime

#Librerías necesarias para el detalle o la descripción.
import string
import random
from random import seed
from datetime import datetime

In [3]:
#Variable asignada para el tamaño del conjunto de datos. 
num_iess = 10000

In [4]:
#Lista de 5 características (Atributos)
features = [
    "id_empresa",
    "nombre_empresa",
    "detalle_empresa",
    "direccion_empresa",
    "responsable_empresa",
]# Creando un DF para estas características
df = pd.DataFrame(columns=features)

**id_empresa**

In [5]:
#Biblioteca uuid para generar cadena aleatoria de datos para id_perfil.
df['id_empresa'] = [uuid.uuid4().hex for i in range(num_iess)]

In [6]:
#Genera identificaciones únicas para cada usuario. Si todas las ID en el conjunto de datos son únicas, devuelve True.
print(df['id_empresa'].nunique()==num_iess)

True

**nombre_empresa**

In [7]:
#Variable para los géneros para la creación de los nombres.
genero = ["female", "male"]

In [8]:
#Nombres.
df['genero']= random.choices(
    genero, 
    weights=(30,30), 
    k=num_iess)

In [9]:
#Instancia Faker
faker = Faker()
#Función.
def name_gen(genero):
    #Para masculino
    if genero=='male':
        return faker.name_male()
    #Para femenino
    elif genero=='female':
        return faker.name_female()
    #Genera los nombres
    return faker.name()
df['nombre_empresa'] = [name_gen(i) for i in df['genero']]

**detalle_empresa**

In [10]:
#Variale tipo string junto con su longitud de cadena de caracteres.
bio=[]
length_of_string = 25
#Crea el detalle del rol.
for i in range(0, num_iess):
  random.seed(datetime.now())
  #La descripcion tiene todo tipo de caracteres.
  bio=(''.join(random.SystemRandom().choice(string.ascii_letters + string.digits) for i in range(length_of_string)))
  #Se guarda el detalle dle rol.
  df.detalle_empresa[i] =bio

**direccion_empresa**

In [11]:
#Importaomos las librerias necesarias
import string
import random
#Creamos la variale para la descripción de tipo string junto con su longitud de 
#cadena de caracteres
bio=[]
length_of_string = 20

for i in range(0, num_iess):#Creamos la descripcion de la universidad
  random.seed(datetime.now())
  #La descripcion contendra todo tipo de caracteres.
  bio=(''.join(random.SystemRandom().choice(string.ascii_letters + string.digits) for i in range(length_of_string)))
  #Guardamos la descripcion en el atributo DescripcionUn
  df.direccion_empresa[i] =bio

**responsable_empresa**

In [12]:
#Instancia Faker
faker = Faker()
#Función.
def name_gen(genero):
    #Para masculino
    if genero=='male':
        return faker.name_male()
    #Para femenino
    elif genero=='female':
        return faker.name_female()
    #Genera los nombres
    return faker.name()
df['responsable_empresa'] = [name_gen(i) for i in df['genero']]

In [13]:
#Eliminar genero, no es necesaerio para esta entidad.
del(df['genero'])

In [14]:
#Visualizar en la tabla los datos generados antes de descargar el excel.
df.head(5)

,id_empresa,nombre_empresa,detalle_empresa,direccion_empresa,responsable_empresa
0,728ade7291fe45e4a93aacf291a84ee3,William Howard,Rx3kC9HfwSMJf9pfqyrFjJ0eB,KAQIZPd4R2l13L7Fo6Sh,Randy Kidd
1,9f7d3a5bfdc94bfea00f0d6bb45e31ae,James Martinez,6YDyf6jFBloDmNiWU9vBlajm4,k7nwzDfU18v0jxhT3Meb,Donald Hunt
2,6e8ce773ac334f28a0f9f2963f239a54,John Murray,2plpncOFn2s40svphQZtvXC3M,wr1tZOrFSqlC0hII8V8e,Anthony Johnson
3,2ee67a5fbd03434585044a4fbca08396,Kevin Bradley,J9EASmsn9uJkDrHcsfwHy2ITl,iboRVApehdMLf32Whpoq,David May
4,4813077889cb4669ae9f35915a60f112,Kristen Green,rI8bJtVUkUWiN15veNDXaxYxC,Fordky40vARCMRmQBL2v,Brandi Robinson

In [15]:
#Generar excel de los datos.
df.to_csv('empresa.csv')