**Proyecto Final: Unidad 1**

**Entidad: hijo**

In [1]:
#Faker es un paquete de Python que genera datos falsos.
!pip install Faker

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting Faker
  Downloading Faker-15.3.4-py3-none-any.whl (1.6 MB)
     |████████████████████████████████| 1.6 MB 11.9 MB/s
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.8/dist-packages (from Faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.4->Faker) (1.15.0)
Installing collected packages: Faker
Successfully installed Faker-15.3.4

In [2]:
#Librerías necesarias para la generación de datos.
import pandas as pd
import uuid
import random
from faker import Faker
import datetime

#Librerías para generar cadena de numeros
import random as r
from random import seed
from datetime import datetime

In [3]:
#Variable asignada para el tamaño del conjunto de datos. 
num_iess = 10000

In [4]:
#Lista de 4 características (Atributos)
features = [
    "ci_hijo",
    "nombre_hijo",
    "edad_hijo",
    "ci_persona",
]# Creando un DF para estas características
df = pd.DataFrame(columns=features)

**nombre: hijo**

In [5]:
#Variable para los géneros para la creación de los nombres.
genero = ["female", "male"]

In [6]:
#Nombres.
df['genero']= random.choices(
    genero, 
    weights=(30,30), 
    k=num_iess)

In [7]:
#Instancia Faker
faker = Faker()
#Función.
def name_gen(genero):
    #Para masculino
    if genero=='male':
        return faker.name_male()
    #Para femenino
    elif genero=='female':
        return faker.name_female()
    #Genera los nombres
    return faker.name()
df['nombre_hijo'] = [name_gen(i) for i in df['genero']]

**ci_hijo**

In [8]:
cedula=[]
#Cantidad de números para la cadena..
size = 10
for i in range(0, num_iess):
  random.seed(datetime.now())
  #Números opcionales para formar la cadena.
  valores = [0,1,2,3,4,5,6,7,8,9]
  cedula=(''.join([str(random.choice(valores)) for i in range(size)]))
  #Se guarda los números en telefonocallcenter.
  df.ci_hijo[i]=cedula

**edad_hijo**

In [9]:
edad=[]
#Cantidad de números para la cadena..
size = 1 or 2
for i in range(0, num_iess):
  random.seed(datetime.now())
  #Números opcionales para formar la cadena.
  valores = [0,1,2,3,4,5,6,7,8,9]
  edad=(''.join([str(random.choice(valores)) for i in range(size)]))
  #Se guarda los números en telefonocallcenter.
  df.edad_hijo[i]=edad

**ci_persona**

In [10]:
cedula=[]
#Cantidad de números para la cadena..
size = 10
for i in range(0, num_iess):
  random.seed(datetime.now())
  #Números opcionales para formar la cadena.
  valores = [0,1,2,3,4,5,6,7,8,9]
  cedula=(''.join([str(random.choice(valores)) for i in range(size)]))
  #Se guarda los números en telefonocallcenter.
  df.ci_persona[i]=cedula

In [11]:
#Eliminar genero, no es necesaerio para esta entidad.
del(df['genero'])

In [12]:
#Visualizar en la tabla los datos generados antes de descargar el excel.
df.head(5)

      ci_hijo        nombre_hijo edad_hijo  ci_persona
0  4278767479      Zachary Grant         9  8765629633
1  1807401339  Theresa Mayer DDS         4  8875209943
2  2218096780   Dr. Kathy Kaiser         0  4634419291
3  5058761924        Larry Payne         2  0656511674
4  4973845999  Elizabeth Vincent         6  0586442214

In [13]:
#Generar excel de los datos.
df.to_csv('hijo.csv')