**Proyecto Final: Unidad 1**

**Entidad: hijo**

In [17]:
#Faker es un paquete de Python que genera datos falsos.
!pip install Faker

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: Faker in /usr/local/lib/python3.8/dist-packages (15.3.4)
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.8/dist-packages (from Faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.4->Faker) (1.15.0)

In [18]:
#Librerías necesarias para la generación de datos.
import pandas as pd
import uuid
import random
from faker import Faker
import datetime

#Librerías para generar cadena de numeros
import random as r
from random import seed

#Librerías para generar fechas
from random import randint
from datetime import datetime

In [19]:
#Variable asignada para el tamaño del conjunto de datos. 
num_iess = 10000

In [20]:
#Lista de 7 características (Atributos)
features = [
    "ci_persona",
    "nombre_persona",
    "tel_persona",
    "genero_persona",
    "fecha_nac_persona",
    "correo_persona",
    "direccion_persona",
]# Creando un DF para estas características
df = pd.DataFrame(columns=features)

**nombre_persona**

In [21]:
#Variable para los géneros para la creación de los nombres.
genero = ["female", "male"]

In [22]:
#Nombres.
df['genero']= random.choices(
    genero, 
    weights=(30,30), 
    k=num_iess)

In [23]:
#Instancia Faker
faker = Faker()
#Función.
def name_gen(genero):
    #Para masculino
    if genero=='male':
        return faker.name_male()
    #Para femenino
    elif genero=='female':
        return faker.name_female()
    #Genera los nombres
    return faker.name()
df['nombre_persona'] = [name_gen(i) for i in df['genero']]

**ci_persona**

In [24]:
cedula=[]
#Cantidad de números para la cadena..
size = 10
for i in range(0, num_iess):
  random.seed(datetime.now())
  #Números opcionales para formar la cadena.
  valores = [0,1,2,3,4,5,6,7,8,9]
  cedula=(''.join([str(random.choice(valores)) for i in range(size)]))
  #Se guarda los números en telefonocallcenter.
  df.ci_persona[i]=cedula

**tel_persona**

In [25]:
numero=[]
#Cantidad de números para la cadena..
size = 10
for i in range(0, num_iess):
  random.seed(datetime.now())
  #Números opcionales para formar la cadena.
  valores = [0,1,2,3,4,5,6,7,8,9]
  numero=(''.join([str(random.choice(valores)) for i in range(size)]))
  #Se guarda los números en telefonocallcenter.
  df.tel_persona[i]=numero

**genero_persona**

In [26]:
genders = ["Hombre", "Mujer"]

In [27]:
df['genero_persona'] = random.choices(
    genders, 
    weights=(47,47), 
    k=num_iess
)
df.genero_persona[i]=genders

**fecha_nac_persona**

In [28]:
def fecha_nac_persona(start, end, n):
    #Formato de marca de tiempo (año, mes, dia)
    frmt = "%Y-%m-%d"

    #Formateo de los dos períodos de tiempo.
    stime = datetime.strptime(start, frmt)
    etime = datetime.strptime(end, frmt)
    
    #Se crea el grupo para tiempos aleatorios.
    td = etime - stime
    
    #Se genera una lista con los tiempos aleatorios.
    times = [(random.random() * td + stime).strftime(frmt) for _ in range(n)]
    return times
df['fecha_nac_persona'] = fecha_nac_persona("1980-01-01", "2006-01-01", num_iess)

**correo_persona**

In [29]:
def emailGen(name, duplicateFound=False):
    """
    Genera una dirección de correo electrónico aleatoria basada en el nombre dado.
    Agrega un número al final si se encuentra una dirección duplicada.
    """
    #Nombre de dominio falso para usar.
    dom = "@fakemail.com"
    
    #Minúsculas y división.
    name = name.lower().split(" ")
    
    #Carácter aleatorio para insertar en el nombre.
    chars = [".", "_"]
    
    new_name = name[0] + random.choice(chars) + name[1] 
    
    #Distinguir aún más el correo electrónico si se encontró un duplicad.
    if duplicateFound:
        
        #Número aleatorio para insertar al final.
        num = random.randint(0,100)
        
        #Insertando al final.
        new_name = new_name + str(num)
        
    #Devolver la dirección de correo electrónico con el nombre de dominio adjunto.
    return new_name + dom

In [30]:
emails = []

for name in df['nombre_persona']:
    
    # Generating the email
    email = emailGen(name)
    
    # Looping until a unique email is generated
    while email in emails:
        
        # Creating an email with a random number
        email = emailGen(name, duplicateFound=True)
    
    # Attaching the new email to the list
    emails.append(email)
    
df['correo_persona'] = emails

**direccion_persona**

In [31]:
#Importaomos las librerias necesarias
import string
import random
#Creamos la variale para la descripción de tipo string junto con su longitud de 
#cadena de caracteres
bio=[]
length_of_string = 20

for i in range(0, num_iess):#Creamos la descripcion de la universidad
  random.seed(datetime.now())
  #La descripcion contendra todo tipo de caracteres.
  bio=(''.join(random.SystemRandom().choice(string.ascii_letters + string.digits) for i in range(length_of_string)))
  #Guardamos la descripcion en el atributo DescripcionUn
  df.direccion_persona[i] =bio

In [32]:
#Eliminar genero, no es necesaerio para esta entidad.
del(df['genero'])

In [33]:
#Visualizar en la tabla los datos generados antes de descargar el excel.
df.head(5)

,ci_persona,nombre_persona,tel_persona,genero_persona,fecha_nac_persona,correo_persona,direccion_persona
0,1291627599,Ashley Wilson,0701620001,Hombre,1999-04-16,ashley.wilson@fakemail.com,cLQLHMYx2aIc6X3AmHA7
1,1187056638,Lauren Davis,7905719971,Hombre,1984-12-04,lauren_davis@fakemail.com,N0sCgeZaKMD1Zp2n6rkC
2,5909984227,Brandon Richardson,7163953424,Mujer,1984-05-29,brandon_richardson@fakemail.com,Y6YgzTSVcoC8Syz29bbl
3,8723600244,Tara Casey,3485133659,Hombre,1986-01-09,tara_casey@fakemail.com,k4pp6EnJ5294QFz8aoN5
4,2477195119,Reginald Smith,5288056108,Hombre,1991-02-20,reginald_smith@fakemail.com,Q8ry85xOLAEvm3cT65E4

In [34]:
#Generar excel de los datos.
df.to_csv('persona.csv')