**Proyecto Final: Unidad 1**

**Entidad: Provee**

(Esta acción se convirtió en una entidad porque hay relación de n a n)

In [1]:
#Faker es un paquete de Python que genera datos falsos.
!pip install Faker

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting Faker
  Downloading Faker-15.3.4-py3-none-any.whl (1.6 MB)
     |████████████████████████████████| 1.6 MB 8.2 MB/s
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.8/dist-packages (from Faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.4->Faker) (1.15.0)
Installing collected packages: Faker
Successfully installed Faker-15.3.4

In [2]:
#Librerías necesarias para la generación de datos.
import pandas as pd
import uuid
import random
from faker import Faker
import datetime

#Librerías para generar fechas
from random import randint
from datetime import datetime

In [3]:
#Variable asignada para el tamaño del conjunto de datos. 
num_iess = 10000

In [4]:
#Lista de 2 características (Atributos)
features = [
    "ci_persona",
    "id_empresa",
]# Creando un DF para estas características
df = pd.DataFrame(columns=features)

**ci_persona**

In [5]:
#Variable para los géneros para la creación de los nombres.
genero = ["female", "male"]

In [6]:
#Nombres.
df['genero']= random.choices(
    genero, 
    weights=(30,30), 
    k=num_iess)

In [7]:
#Instancia Faker
faker = Faker()
#Función.
def name_gen(genero):
    #Para masculino
    if genero=='male':
        return faker.name_male()
    #Para femenino
    elif genero=='female':
        return faker.name_female()
    #Genera los nombres
    return faker.name()
df['ci_persona'] = [name_gen(i) for i in df['genero']]

In [8]:
cedula=[]
#Cantidad de números para la cadena..
size = 10
for i in range(0, num_iess):
  random.seed(datetime.now())
  #Números opcionales para formar la cadena.
  valores = [0,1,2,3,4,5,6,7,8,9]
  cedula=(''.join([str(random.choice(valores)) for i in range(size)]))
  #Se guarda los números en telefonocallcenter.
  df.ci_persona[i]=cedula

**id_empresa**

In [9]:
#Biblioteca uuid para generar cadena aleatoria de datos para id_perfil.
df['id_empresa'] = [uuid.uuid4().hex for i in range(num_iess)]

In [10]:
#Genera identificaciones únicas para cada usuario. Si todas las ID en el conjunto de datos son únicas, devuelve True.
print(df['id_empresa'].nunique()==num_iess)

True

In [11]:
#Eliminar genero, no es necesaerio para esta entidad.
del(df['genero'])

In [12]:
#Visualizar en la tabla los datos generados antes de descargar el excel.
df.head(5)

   ci_persona                        id_empresa
0  1964317883  1c37367b783a42b6bf8171b104b6e953
1  7410900717  ab496d56069642509fd14f46d9304c8d
2  8479156150  046f7a247e214bd6b6b28852830c9524
3  6247273633  ac2b446605d141d79ffa5c4b4801730c
4  8573225466  f2cbb97e13794c658566da1dd228d99f

In [13]:
#Generar excel de los datos.
df.to_csv('provee.csv')