**Proyecto Final: Unidad 1**

**Entidad: Rol**

In [1]:
#Faker es un paquete de Python que genera datos falsos.
!pip install Faker

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting Faker
  Downloading Faker-15.3.4-py3-none-any.whl (1.6 MB)
     |████████████████████████████████| 1.6 MB 5.2 MB/s
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.8/dist-packages (from Faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.4->Faker) (1.15.0)
Installing collected packages: Faker
Successfully installed Faker-15.3.4

In [2]:
#Librerías necesarias para la generación de datos.
import pandas as pd
import uuid
import random
from faker import Faker
import datetime

#Librerías necesarias para el detalle o la descripción.
import string
import random
from random import seed
from datetime import datetime

In [3]:
#Variable asignada para el tamaño del conjunto de datos. 
num_iess = 10000

In [4]:
#Lista de 3 características (Atributos)
features = [
    "cod_Rol",
    "nombre_Rol",
    "detalle_Rol",
]# Creando un DF para estas características
df = pd.DataFrame(columns=features)

**cod_Rol**

In [5]:
#Biblioteca uuid para generar cadena aleatoria de datos para cod_Rol.
df['cod_Rol'] = [uuid.uuid4().hex for i in range(num_iess)]

In [6]:
#Genera identificaciones únicas para cada usuario. Si todas las ID en el conjunto de datos son únicas, devuelve True.
print(df['cod_Rol'].nunique()==num_iess)

True

**nombre_Rol**

In [7]:
#Los diferentes nombres de roles.
Nombre_Rol = ['Pensionista','Afiliado']
#Creacion de los permisos para cada una de las filas
df['nombre_Rol'] = random.choices(
  Nombre_Rol, 
    weights=(25,25), 
    k=num_iess
)

**detalle_Rol**

In [8]:
#Variale tipo string junto con su longitud de cadena de caracteres.
bio=[]
length_of_string = 25
#Crea el detalle del rol.
for i in range(0, num_iess):
  random.seed(datetime.now())
  #La descripcion tiene todo tipo de caracteres.
  bio=(''.join(random.SystemRandom().choice(string.ascii_letters + string.digits) for i in range(length_of_string)))
  #Se guarda el detalle dle rol.
  df.detalle_Rol[i] =bio

In [9]:
#Visualizar en la tabla los datos generados antes de descargar el excel.
df.head(5)

                            cod_Rol   nombre_Rol                detalle_Rol
0  1814a440117540249a254068a231c647  Pensionista  apdIrJf1wv2KVwU0MlpRz1o6U
1  e5ec2814e9db4aa296a40b012c940e64  Pensionista  z5CZLROfDYPn44bld0QAWC0ZI
2  5926bf2668a44b058dbba7280a0fd2db     Afiliado  NTzJJGHwunlJJMYUtAW36F7Cs
3  771e55e70243476f91806021ae55b227  Pensionista  VwALj6qkDVDUDxWoFckhvueNP
4  be5cc12a36b84d358772cfeff65bf6b6  Pensionista  eEFTMa42B7y4OplAUteh0Dvkp

In [10]:
#Generar excel de los datos.
df.to_csv('rol.csv')