**Proyecto Final: Unidad 1**

**Entidad: Servicio**

In [ ]:
#Faker es un paquete de Python que genera datos falsos.
!pip install Faker

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: Faker in /usr/local/lib/python3.8/dist-packages (15.3.4)
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.8/dist-packages (from Faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.4->Faker) (1.15.0)

In [ ]:
#Librerías necesarias para la generación de datos.
import pandas as pd
import uuid
import random
from faker import Faker
import datetime

#Librerías para generar cadena de numeros
import random as r
from random import seed

#Librerías para generar fechas
import string
from random import randint
from datetime import datetime

In [ ]:
#Variable asignada para el tamaño del conjunto de datos. 
num_iess = 10000


     - id_servicio: una cadena de números para identificar en este caso un servicio
     - nombre_servicio:tipo de cadena con un nombre de servicio
     - tipo_servicio: tipo de cadena que define el tipo de servicio
     - detalle_servicio: tipo de cadena que describe el servicio
     - id_afiliacion:una cadena de números para identificar en este caso un tipo de afilicion

Se ingresan los atributos como una lista para inicializar un marco de datos de Pandas:

In [ ]:
#Lista de 5 características (Atributos)
features = [
    "id_servicio",
    "nombre_servicio",
    "tipo_servicio",
    "detalle_servicio",
    "id_afiliacion",
]# Creando un DF para estas características
df = pd.DataFrame(columns=features)

**id_servicio**

In [ ]:
#Biblioteca uuid para generar cadena aleatoria de datos para id_perfil.
df['id_servicio'] = [uuid.uuid4().hex for i in range(num_iess)]

In [ ]:
#Genera identificaciones únicas para cada usuario. Si todas las ID en el conjunto de datos son únicas, devuelve True.
print(df['id_servicio'].nunique()==num_iess)

True

**nombre_servicio**

In [ ]:
#Los diferentes nombres de servicios.
nombre_servicio= ['Atención médica','Jubilación','Préstamo','Mortuorio']
#Creacion de los permisos para cada una de las filas
df['nombre_servicio'] = random.choices(
  nombre_servicio, 
    weights=(40,10,10,5), 
    k=num_iess
)

**tipo_servicio**

In [ ]:
#Los diferentes nombres de roles.
tipo_servicio = ['Cita','Web','CallCenter','Ventanilla']
#Creacion de los permisos para cada una de las filas
df['tipo_servicio'] = random.choices(
  tipo_servicio, 
    weights=(30,40,20,5), 
    k=num_iess
)

**detalle_servicio**

In [ ]:
#Importaomos las librerias necesarias
import string
import random
#Creamos la variale para la descripción de tipo string junto con su longitud de 
#cadena de caracteres
bio=[]
length_of_string = 20

for i in range(0, num_iess):#Creamos la descripcion de la universidad
  random.seed(datetime.now())
  #La descripcion contendra todo tipo de caracteres.
  bio=(''.join(random.SystemRandom().choice(string.ascii_letters + string.digits) for i in range(length_of_string)))
  #Guardamos la descripcion en el atributo DescripcionUn
  df.detalle_servicio[i] =bio

**id_afiliacion**

In [ ]:
#Biblioteca uuid para generar cadena aleatoria de datos para id_perfil.
df['id_afiliacion'] = [uuid.uuid4().hex for i in range(num_iess)]

In [ ]:
#Genera identificaciones únicas para cada usuario. Si todas las ID en el conjunto de datos son únicas, devuelve True.
print(df['id_afiliacion'].nunique()==num_iess)

True

In [ ]:
#Visualizar en la tabla los datos generados antes de descargar el excel.
df.head(5)

,id_servicio,nombre_servicio,tipo_servicio,detalle_servicio,id_afiliacion
0,d82b2870a1444690a2621afb8a0d923b,Atención médica,Web,o0LFDdbOUSGh540B6lfi,9bdaacebf9f546b6b12363e7af5065a6
1,8fb0b0162e7a402ba3b117f9d9d8c6f6,Atención médica,Cita,JeQ1PfOYXHrGzCQbEBPz,9ffb4eaab1f14faba4c38215dbfc6721
2,bf5badc33ef84f14b3d62112db926b6b,Jubilación,Cita,YmwGPXal11SRhXCx6NhD,51863b3fbb6e4e5380393097120d440c
3,015cf8cd18f74b049b0f724da61eeaf0,Jubilación,Cita,2PL6My7Rwl7H86xu5es9,48718d8a047d465ba530f3a2154c6caf
4,b2a16a3c718948738b10a7d8567ea44d,Jubilación,CallCenter,QYx1QepWai0h5kTLTDkm,3ab8f7dd36e74283b2a3bc9809354873

In [ ]:
#Generar excel de los datos.
df.to_csv('Servicio.csv')