**Proyecto Final: Unidad 1**

**Entidad: usuario**

In [1]:
#Faker es un paquete de Python que genera datos falsos.
!pip install Faker

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting Faker
  Downloading Faker-15.3.4-py3-none-any.whl (1.6 MB)
     |████████████████████████████████| 1.6 MB 17.2 MB/s
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.8/dist-packages (from Faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.4->Faker) (1.15.0)
Installing collected packages: Faker
Successfully installed Faker-15.3.4

In [2]:
#Librerías necesarias para la generación de datos.
import pandas as pd
import uuid
import random
from faker import Faker
import datetime

#Librerías para generar cadena de numeros
import random as r
from random import seed
from datetime import datetime

In [3]:
#Variable asignada para el tamaño del conjunto de datos. 
num_iess = 10000

In [4]:
#Lista de 4 características (Atributos)
features = [
    "id_usuario",
     #Genero no es un atributo.
    "genero",
    "nombre_usuario",
    "contrasenia_usuario",
    "ci_persona",
]# Creando un DF para estas características
df = pd.DataFrame(columns=features)

**id_usuario**

In [5]:
#Biblioteca uuid para generar cadena aleatoria de datos para id_perfil.
df['id_usuario'] = [uuid.uuid4().hex for i in range(num_iess)]

In [6]:
#Genera identificaciones únicas para cada usuario. Si todas las ID en el conjunto de datos son únicas, devuelve True.
print(df['id_usuario'].nunique()==num_iess)

True

**nombre_usuario**

In [7]:
#Variable para los géneros para la creación de los nombres.
genero = ["female", "male"]

In [8]:
#Nombres.
df['genero']= random.choices(
    genero, 
    weights=(30,30), 
    k=num_iess)

In [9]:
#Instancia Faker
faker = Faker()
#Función.
def name_gen(genero):
    #Para masculino
    if genero=='male':
        return faker.name_male()
    #Para femenino
    elif genero=='female':
        return faker.name_female()
    #Genera los nombres
    return faker.name()
df['nombre_usuario'] = [name_gen(i) for i in df['genero']]

**contrasenia_usuario**

In [10]:
#Uso de la biblioteca uuid para generar cadena aleatoria de datos para la clave o contraseña.
df['contrasenia_usuario'] = [uuid.uuid4().hex for i in range(num_iess)]

In [11]:
#Genera identificaciones únicas para cada usuario. Si todas las claves en el conjunto de datos son únicas, devuelve True.
print(df['contrasenia_usuario'].nunique()==num_iess)

True

**ci_persona**

In [12]:
cedula=[]
#Cantidad de números para la cadena..
size = 10
for i in range(0, num_iess):
  random.seed(datetime.now())
  #Números opcionales para formar la cadena.
  valores = [0,1,2,3,4,5,6,7,8,9]
  cedula=(''.join([str(random.choice(valores)) for i in range(size)]))
  #Se guarda los números en telefonocallcenter.
  df.ci_persona[i]=cedula

In [13]:
#Eliminar genero, no es necesaerio para esta entidad.
del(df['genero'])

In [14]:
#Visualizar en la tabla los datos generados antes de descargar el excel.
df.head(5)

,id_usuario,nombre_usuario,contrasenia_usuario,ci_persona
0,ec7edd859a9b413e908d3dd21ad014df,Marc Robinson,951ca972955e4443b940e2722e319580,2984391972
1,afa6f1893bc240809287e5f720a3f77b,Sarah Fuller,c7aaa47770cc45a392b1476b9c185798,5865981855
2,e8923ad3899b410396c3d56004ff00f7,Seth Wilson,d409456f17534b71bf96231b1c9c06e4,5963922594
3,bd3e15d7735244b49a1e2b794dc792a2,David Richardson,134ac30e9baf4c06af58295b5567cd91,4986285765
4,d31ccdd7d5f647f987ecbc22b943c69a,Kevin Blake,322695c6b425439c9191a14bb648f0a2,5222597567

In [15]:
#Generar excel de los datos.
df.to_csv('usuario.csv')